<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.trans.mapper.UserDao">

    <!--<select id="findByPhone" parameterType="String" resultType="net.transapp.pojo.TransUserTable">-->
        <!--SELECT u.u_phone uPhone,u.u_password uPassword, sr.* FROM(select * from trans_user_table t LEFT JOIN sys_user_role s ON t.u_uid = s.UID ) u LEFT JOIN sys_role sr ON u.RID = sr.ID-->
    <!--</select>-->
</mapper>